# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
/staticfiles

# Environment
.env
.venv
venv/
env/

# Database
env.py

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
